
import(stats)
import(gbm)
import(Rborist)

export(arb_bin)
export(bad_bin)
export(qtl_bin)
export(iso_bin)
export(gbm_bin)
export(kmn_bin)
export(rng_bin)

export(pool_bin)

export(cal_woe)
export(qcut)

export(batch_bin)
export(batch_woe)
